<mat-form-field appearance="fill">
  <mat-label id="select-a-pokemon-to-attack">
    Select a pokemon to attack
  </mat-label>
  <mat-select [(value)]="selectedPokemonName"
              aria-labelledby="select-a-pokemon-to-attack"
              (selectionChange)="selected()">
    <mat-option>None</mat-option>
    <mat-option *ngFor="let pokemonName of pokedex.allNames().sort()" [value]="pokemonName">
      {{pokemonName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-card *ngIf="selectedPokemonName">
  <mat-card-title id="copy-this-string">
    Copy/paste this string into your pokemon bag filter to find pokemon with both fast and charged attacks that are
    super effective against {{selectedPokemonName}}
  </mat-card-title>
  <mat-card-content>
    <button
      mat-raised-button
      aria-labelledby="copy-this-string"
      *ngIf="selectedPokemonName"
      [cdkCopyToClipboard]="battleString ? battleString : ''">
      <mat-icon>file_copy</mat-icon>
      <span>
      {{battleString}}
    </span>
    </button>
  </mat-card-content>
</mat-card>
